<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--选择工作区，如果为接口代理查询，则要填入接口的全类名-->
<mapper namespace="mybatis.dao.EmployeeMapper">
    <!--设置为一标示，动态接口代理查询时候，可以填入接口方法名-->
    <!--配对好返回类型。之前在全局配置文件中设置过别名处理，所以此处直接填写别名就行，不用填全类名-->
    <select id="getEmployeeById" resultType="Employee">
        select * from tbl_employee where id = #{id}
    </select>
</mapper>